 <div class="text-right">
  <div class="credits">
    <%= link_to t("layouts.admin.free_bootstrap"), "https://bootstrapmade.com/" %>
    <%= t "layouts.admin.by" %>
    <%= link_to t("layouts.admin.bootstrapmade"), "https://bootstrapmade.com/" %>
  </div>
</div>
