<li>
  <%= gravatar_for user %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to t("users.user.del"), user, method: :delete, data: {confirm: t("users.user.sure")} %>
  <% end %>
</li>
