@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'admin/elegant-icons-style';
@import 'admin/font-awesome';
@import 'admin/mystyleadmin';

body {
  color: $gray;
  background: $white;
  font-family: 'Lato', sans-serif;
  padding: 0px !important;
  margin: 0px !important;
  font-size:14px !important;
}

h1,h2,h3,h4,h5{
  font-weight: 300;
}

label{
  font-weight: 300;
}

ul li {
  list-style: none;
}

a, a:hover, a:focus {
  text-decoration: none;
  outline: none;
  outline: 0;
}

input:focus, textarea:focus { outline: none; }

table tr th {
  color: $green;
}

*:focus {
  outline: none;
}

::selection {
  background: $green;
  color: $white-light;
}

::-moz-selection {
  background: $green;
  color: $white-light;
}

#container {
  width: 100%;
  height: 100%;
}

.Creative-pro, .Creative-pro h3{
  display: block;
  position: fixed;
  bottom:0;
  z-index: 100000;
  width: 100%;
  overflow: hidden;
  height: 50px;
  margin:0px;
}

.Creative-pro h3{
  padding-bottom: 10px;
  padding-top: 10px;
}

.lite{
  color: $blue !important;
}

.login-body {
  background-color: $white;
}

.login-img-body{
  background: url('../img/bg-1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login-img2-body{
  background: url('../img/bg-1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.login-img3-body{
  background: url('../img/bg-1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login-form {
  max-width: 350px;
  margin: 200px auto 0;
  background: $gray-medium;
}

.login-img-body .login-form{
  max-width: 350px;
  margin: 200px auto 0;
  background: rgba(213,215,222,0.4);
  border: 1px solid $gray;
}

.login-img2-body .login-form{
  border: 1px solid $gray;
  background: rgba(213,215,222,0.7);
}

.login-img3-body .login-form{
  border: 1px solid $gray;
  background: rgba(213,215,222,0.9);
}

.login-form a{
  color: $green !important;
}

.login-form h2.login-form-heading {
  margin: 0;
  padding:20px 15px;
  text-align: center;
  background: $blue;
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  color: $white-light;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
}

.login-form .checkbox {
  margin-bottom: 14px;
}

.login-form .checkbox {
  font-weight: normal;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
}

.login-form .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.login-form .form-control:focus {
  z-index: 2;
}

.login-form .login-img{
  font-size: 50px;
  font-weight: 300;
}
.login-form .input-group{
  padding-bottom: 15px;
}

.login-form .input-group-addon{
  padding: 6px 12px;
  font-size: 16px;
  color: $gray;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  background-color: $white-light;
  border: none;
  border-radius: 0;
}

.login-form input[type="text"], .login-form input[type="password"] {
  border: none;
  box-shadow: none;
  font-size: 16px;
  border-radius: 0;
}

.login-form .btn{
  border-radius: 0;
}

.login-form .btn-login {
  background: $salmon;
  color: $white-light;
  text-transform: uppercase;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  box-shadow: 0 4px $salmon;
  margin-bottom: 20px;
}

.login-form p {
  text-align: center;
  color: $pink_swan;
  font-size: 16px;
  font-weight: 300;
}

.login-img3-body .login-form p,.login-img2-body .login-form p {
  color: $blue;
}

.login-form a {
  color: $pink_swan;
}

.login-form a:hover {
  color: $blue;
}

.form .required{
  font-size: 16px;
  color: $blue;
}

.login-wrap {
  padding: 20px;
}

.login-social-link  {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 15px;
}

.login-social-link a {
  color: $white-light;
  padding: 15px 28px;
  border-radius: 4px;
}

.login-social-link a:hover {
  color: $white-light;
}

.login-social-link a i {
  font-size: 20px;
  padding-right: 10px;
}

.login-social-link a.facebook {
  background: $blue;
  margin-right: 22px;
  box-shadow: 0 4px $royal_blue;
  float:left;
}

.modal-content{
  border-radius:0px;
  background:rgba(255,255,255,0.9);
}

.modal-header .close{
  font-weight: 300;
  font-size: 30px;
}

#sidebar {
  width: 180px;
  height: 100%;
  position: fixed;
  background: $cello;
}

.nav-collapse.collapse {
  display: inline;
}

ul.sidebar-menu , ul.sidebar-menu li ul.sub{
  margin: -2px 0 0;
  padding: 0;
}

ul.sidebar-menu {
  margin-top: 60px;
}

#sidebar > ul > li > ul.sub {

    display: none;

}

#sidebar > ul > li.active > ul.sub, #sidebar > ul > li > ul.sub > li > a {
  display: block;
}

ul.sidebar-menu li ul.sub li{
  background: $cello;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

ul.sidebar-menu li ul.sub li:last-child{
  border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
}

ul.sidebar-menu li ul.sub li a {
  font-size: 12px;
  padding: 0 0 0 32px;
  line-height: 35px;
  height: 35px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: $gray;
  font-size: 14px;
}

ul.sidebar-menu li ul.sub li a:hover, ul.sidebar-menu li ul.sub li.active a {
  color: $white-light;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: block;
}

ul.sidebar-menu li{
  line-height: 20px !important;
}

ul.sidebar-menu li.sub-menu{
  line-height: 15px;
  font-size: 16px;
}

ul.sidebar-menu li a span{
  display: inline-block;
}

ul.sidebar-menu li a{
  color: $gray;
  text-decoration: none;
  display: block;
  padding: 15px 0 15px 10px;
  font-size: 16px;
  font-weight: 300;
  outline: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-right: 1px solid $gray-light;
  border-bottom: 1px solid $gray-light;
}

ul.sidebar-menu li.active a, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
  background: $drak;
  color: $white-light;
  display: block;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
  border-bottom: 1px solid $gray;
}

ul.sidebar-menu .sub-menu li.active a{
  border-bottom: 1px solid $gray;
}

ul.sidebar-menu li a i {
  font-size: 18px;
  padding-right: 6px;
}

ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i {
  color: $white-light;
}

ul.sidebar-menu li.active a i {
  color: $white-light;
}

#sidebar ul > li > a .arrow {
  border-bottom: 4px solid transparent;
  border-left: 4px solid #A0A0A0;
  border-top: 4px solid transparent;
  float: right;
  height: 0;
  margin-right: 10px;
  margin-top: 6px;
  width: 0;
}

#sidebar ul > li > a .menu-arrow {
  float: right;
  margin-right: 8px;
  margin-top: 6px;
}

#sidebar > ul > li > a .arrow.open {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid #A0A0A0;
  float: right;
  height: 0;
  margin-right: 10px;
  margin-top: 8px;
  width: 0;
}

#sidebar ul > li.active > a .arrow, #sidebar ul > li > a:hover .arrow, #sidebar ul > li > a:focus .arrow {
  float: right;
  margin-top: 6px;
  margin-right: 10px;
  width: 0;
  height: 0;
  border-left: 4px solid $gray;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}

#sidebar > ul > li.active > a .arrow.open, #sidebar > ul > li > a:hover .arrow.open, #sidebar > ul > li > a:focus .arrow.open {
  float: right;
  margin-top: 8px;
  margin-right: 10px;
  width: 0;
  height: 0;
  border-top: 5px solid $gray;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.mail-info, .mail-info:hover {
  margin: 3px 6px 0 0;
  font-size: 11px;
}

.online-profile li a i {
  position: relative;
  left: -12px;
  top: -10px;
}

.online-profile li a span i {
  position: relative;
  top: 10px;
}

.chat-online-profile li a i {
  position: relative;
  left: -12px;
  top: -10px;
}

.chat-online-profile li a span i {
  position: relative;
  top: 10px;
}

.chat-online-profile li a{
  border-bottom: 1px solid $gray-light;
}

.chat-online-profile li a:hover, .chat-online-profile li a:focus, .chat-online-profile li a:active{
  background: $white !important;
  border-bottom: 1px solid $green !important;
}

#main-content {
  margin-left: 180px;
}

.header, .footer {
  min-height: 60px;
  padding: 0 15px;
}

.box1 {
  font-size: 16px;
  display: inline-block;
  width: 25%;
  padding: .25em .5em;
  margin: 20px 10px 0 0;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1002;
}

.white-bg {
  background: rgba(255,255,255,0.9);
  border-bottom: 1px solid $white;
}

.dark-bg {
  background: rgba(54,66,74,1);
  border-bottom: 1px solid $white;
}

.panel-content{
  padding: 10px;
}

.panel {
  border:none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-bottom: 30px;
}

.panel .panel-heading {
  line-height: 34px;
  padding: 0 15px;
  min-height: 34px;
  border-left: 1px solid $gray-medium;
  border-right: 1px solid $gray-medium;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  position: relative;
  box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
  -webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
}

.panel .panel-heading .panel-title {
  line-height: 40px;
}

.panel .panel-heading i {
  width: 30px;
  display: inline-block;
  font-size: 14px;
  border-right:1px solid $white-light ;
}

.panel .panel-heading ul li {
  border-top:1px solid $white-light ;
  border-left:1px solid $white-light ;
  border-right:1px solid $white-light ;
}

.panel .panel-heading h2 {
  height: 100%;
  width: auto;
  display: inline-block;
  font-size: 14px;
  position: relative;
  margin: 0;
  line-height: 34px;
  font-weight: 400;
  letter-spacing: 0;
}

.panel .panel-heading .panel-actions {
  float: right;
  margin-right: -15px;
  height: 40px;
  font-size: 0;
}

.panel .panel-heading .panel-actions i {
  display: inline-block;
  text-align: center;
  width: 34px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  text-decoration: none;
  font-size: 14px;
}

.panel .panel-heading .panel-actions a {
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  display: inline-block;
  line-height: 32px;
  padding: 0;
  margin: 0;
  color: #333;
  border-left: 1px solid rgba(0,0,0,.09);
}

.panel-actions .btn-setting:hover,
.panel-actions .btn-minimize:hover,
.panel-actions .btn-close:hover {
  background-color: rgba(0,0,0,.05);
}

.panel .panel-heading .switch {
  margin: 10px;
}

.panel .panel-body {
  border-width: 1px 1px 2px;
  border-style: solid;
  border-top: none;
  border-right-color: $gray-medium!important;
  border-bottom-color: $gray-medium!important;
  border-left-color: $gray-medium!important;
}

.panel .panel-body-map {
  border-width: 1px 1px 2px;
  border-style: solid;
  background:$blue-alice;
  height:380px;
  border-top: none;
  border-right-color: $gray-medium!important;
  border-bottom-color: $gray-medium!important;
  border-left-color: $gray-medium!important;
}

.panel .panel-body.no-padding {
  padding: 0;
}

.panel .panel-body.padding-horizontal {
  padding: 0 15px;
}

.panel .panel-body.no-padding-bottom {
  padding-bottom: 0;
}

.panel-footer {
  padding: 10px 15px;
  background-color: $white-smoke;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.panel .panel-footer {
  border-width: 0 1px 2px 1px;
  border-style: solid;
  border-top: none;
  border-right-color: $gray-medium!important;
  border-bottom-color: $gray-medium!important;
  border-left-color: $gray-medium!important;
  position: relative;
}

.panel.panel-default {
  border-radius: 0px;
  border-top: 1px solid $gray-light;
  -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.1);
}

.panel.panel-default.panel-heading {
  background: $riptide;
}

.panel.panel-default .panel-footer {
  background: $white-smoke;
}

.panel.panel-primary {
  border-color: $blue;
}

.panel.panel-primary .panel-heading,
.panel.panel-primary .panel-footer {
  background: $blue;
  color: $blue-whale;
  border-color: $blue;
}

.panel.panel-success {
  border-color: $green-light;
}

.panel.panel-success .panel-heading,
.panel.panel-success .panel-footer {
  background: $green-light;
  color: $green-black;
  border-color: $green-light;
}

.panel.panel-info {
  border-color: $blue;
}

.panel.panel-info .panel-heading,
.panel.panel-info .panel-footer {
  background: #acdef6;
  color: #106894;
  border-color: $blue;
}

.panel.panel-warning {
  border-color: #fabb3d;
}

.panel.panel-warning .panel-heading,
.panel.panel-warning .panel-footer {
  background: #fcd588;
  color: #815703;
  border-color: #fabb3d;
}

.panel.panel-danger {
  border-color: #ff5454;
}

.panel.panel-danger .panel-heading,
.panel.panel-danger .panel-footer {
  background: #ffa1a1;
  color: #a10000;
  border-color: #ff5454;
}

.wrapper {
  display: inline-block;
  margin-top: 60px;
  padding: 15px;
  width: 100%;
}

a.logo {
  font-size: 22px;
  font-weight: 300;
  color: #fed189;
  float: left;
  margin-top: 15px;
  text-transform: uppercase;
}

a.logo:hover, a.logo:focus {
  text-decoration: none;
  outline: none;
}

a.logo span {
  color: $green;
}

#top_menu .nav > li, ul.top-menu > li {
  float: left;
}

.search-row {
  float: left;
  margin-top: 15px;
  margin-left: 16px;
}

.notification-row {
  float: right;
  margin-top: 15px;
  margin-left: 65px;
}

#task_notificatoin_bar, #mail_notificatoin_bar, #alert_notificatoin_bar{
  margin-top: 7px;
}

ul.top-menu > li > a {
  color: #fed189;
  font-size: 18px;
  padding: 2px 6px;
  margin-right: 15px;
}

ul.top-menu > li > a:hover, ul.top-menu > li > a:focus {
  background: transparent !important;
  color: $gray-light !important;
}

.notification-row .badge {
  position: absolute;
  right: -4px;
  top: 0px;
  z-index: 100;
  border-radius: 9px;
  min-width: 18px;
  height: 18px;
  text-align: center;
  padding: 3px 5px;
  background: $blue;
  font-weight: 400;
}

.badge {
  border-radius: 9px;
  min-width: 18px;
  height: 18px;
  text-align: center;
  padding: 3px 5px;
  background: $blue;
}

.dropdown-menu.extended {
  max-width: 300px !important;
  min-width: 160px !important;
  top: 42px;
  width: 235px !important;
  padding: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.176) !important;
  border: none !important;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}

.navbar-form{
    padding: 0px;
    margin: 0 0 0 10px;
}

.navbar-form .form-control{
  width: 200px;
  height: 30px;
  background: white url('../img/icons/search-line-icon.png') no-repeat 3px;
  padding-left: 24px;
  margin-top: 1px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  .dropdown-menu.extended  {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.176) !important;
  };
}

 #editor {
  max-height: 250px;
  height: 250px;
  background-color: white;
  border-collapse: separate;
  border: 1px solid rgb(204, 204, 204);
  padding: 4px;
  box-sizing: content-box;
  -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
  border-top-right-radius: 3px; border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px; border-top-left-radius: 3px;
  overflow: scroll;
  outline: none;
}

div[data-role="editor-toolbar"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropdown-menu.extended li p {
  background-color: $white;
  color: $gray;
  margin: 0;
  padding: 10px;
}

.dropdown-menu.extended li p.green {
  background-color: $green;
  color: $white-light;
}

.dropdown-menu.extended li p.red {
  background-color: $blue;
  color: $white-light;
}

.dropdown-menu.extended li p.blue {
  background-color: $green;
  color: $white-light;
}

.dropdown-menu.extended li p.yellow {
  background-color: $yellow;
  color: $white-light;
}

.dropdown-menu.extended li a {
  border-bottom: 1px solid $white-smoke !important;
  font-size: 12px;
  list-style: none;
}

.dropdown-menu.extended li a {
  padding: 15px 10px !important;
  width: 100%;
  display: inline-block;
}

.dropdown-menu.extended li a:hover {
  background-color: $white !important;
  color: $drak;
  border-bottom: 1px solid $green !important;
}

.dropdown-menu.tasks-bar .task-info .desc {
  font-size: 13px;
  font-weight: normal;
}

.dropdown-menu.tasks-bar .task-info .percent {
    display: inline-block;
    float: right;
    font-size: 13px;
    font-weight: 600;
    padding-left: 10px;
    margin-top: -4px;
}

.dropdown-menu.extended .progress {
  margin-bottom: 0 !important;
  height: 10px;
}

.dropdown-menu.inbox li a .photo img {
    border-radius: 2px 2px 2px 2px;
    float: left;
    height: 40px;
    margin-right: 4px;
    width: 40px;
}

.dropdown-menu.inbox li a .subject {
    display: block;
}

.dropdown-menu.inbox li a .subject .from {
  font-size: 12px;
  font-weight: 600;
}

.dropdown-menu.inbox li a .subject .time {
  font-size: 11px;
  font-style: italic;
  font-weight: bold;
  position: absolute;
  right: 5px;
}

.dropdown-menu.inbox li a .message {
  display: block !important;
  font-size: 11px;
}

.top-nav  {
  margin-top: 7px;
}

.top-nav ul.top-menu > li .dropdown-menu.logout {
  width: 200px !important;
}

.top-nav li.dropdown .dropdown-menu {
  float: right;
  right: 0;
  left: auto;
}

.dropdown-menu.extended.logout > li {
  float: left;
  text-align: left;
  width: 100%;
}

.dropdown-menu.extended.logout > li.eborder-top {
  border-top: 2px solid $green !important;
}

.dropdown-menu.extended.logout > li:last-child {
  float: left;
  text-align: left;
  width: 100%;
  background: $green;
}

.dropdown-menu.extended.logout > li:last-child > a, .dropdown-menu.extended.logout > li:last-child > a:hover {
  color: $white-light;
  border-bottom: none !important;
  text-transform: uppercase;
  background-color:$green !important;
}

.dropdown-menu.extended.logout > li:last-child > a:hover > i{
  color: $white-light;
}

.dropdown-menu > li > a{
  color: $gray;
}

.dropdown-menu.extended.logout > li > a {
  border-bottom: 1px solid $white-smoke !important;
  font-size: 14px;
  list-style: none;
  padding: 15px 10px !important;
  width: 100%;
  display: inline-block;
}

.dropdown-menu.extended.logout > li > a:hover {
  background-color: $white !important;
  color: $drak;
  border-bottom: 1px solid $green !important;
}

.dropdown-menu.extended.logout > li > a:hover i {
  color: $green;
}

.dropdown-menu.extended.logout > li > a i {
  font-size: 17px;
}

.dropdown-menu.extended.logout > li > a > i {
  display: inline-block;
  padding-right: 10px
}

.top-nav .username {
  font-size: 13px;
  color: #bdbdbd;
}

.top-nav ul.top-menu > li > a {
  padding: 8px;
  background: none;
  margin-right: 0;
}

.top-nav ul.top-menu > li {
  margin-left: 10px;
}

.top-nav ul.top-menu > li > a:hover, .top-nav ul.top-menu > li > a:focus {
  background: $white;
}

.top-nav .dropdown-menu.extended.logout {
  top: 50px;
}

.top-nav .nav .caret {
  border-bottom-color: $gray;
  border-top-color: $gray;
}

.top-nav ul.top-menu > li > a:hover .caret {
  border-bottom-color: $blue;
  border-top-color: $blue;
}

.log-arrow-up {
  width: 20px;
  height: 11px;
  position: absolute;
  right: 20px;
  top: -10px;
}

.page-header {
  margin: 12px 0 20px;
  border-bottom: none;
  opacity: 0.7;
  text-transform: uppercase;
}

.page-header i {
  color: $gray;
  margin-right: 10px;
  float: left;
  font-size: 30px;
  line-height: 22px;
  opacity: 0.8;
}

.breadcrumb {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  height: 34px;
  position: relative;
  margin: 0 0 19px 0;
  overflow: hidden;
}

.breadcrumb li {
  position: relative;
  margin-right: 0;
}

.breadcrumb li i {
  Font-size: 15px;
  margin-right: 5px;
}

.breadcrumb > .active {
  color: $gray-light;
}

.info-box {
  min-height: 140px;
  margin-bottom: 30px;
  padding: 20px;
  color: white;
  -webkit-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.35), 0 3px 1px -1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.35), 0 3px 1px -1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.35), 0 3px 1px -1px rgba(0, 0, 0, 0.1);
}

.info-box i {
  display: block;
  height: 100px;
  font-size: 60px;
  line-height: 100px;
  width: 100px;
  float: left;
  text-align: center;
  margin-right: 20px;
  padding-right: 20px;
  color: rgba(255, 255, 255, 0.75);
}

.info-box .count {
  margin-top: 20px;
  font-size: 34px;
  font-weight: 700;
}

.info-box .title {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
}

.info-box .desc {
  margin-top: 10px;
  font-size: 12px;
}

.notify-arrow {
  border-style: solid;
  border-width: 0 9px 9px;
  height: 0;
  margin-top: 0;
  opacity: 0;
  position: absolute;
  right: 7px;
  top: -18px;
  transition: all 0.25s ease 0s;
  width: 0;
  z-index: 10;
  margin-top: 10px;
  opacity: 1;
}

.notify-arrow-blue{
  border-color: transparent transparent $green;
  border-bottom-color: $green !important;
  border-top-color: $green !important;
}

.notify-arrow-yellow {
  border-color: transparent transparent $yellow;
  border-bottom-color: $yellow !important;
  border-top-color: $yellow !important;
}

.notify-arrow-red {
  border-color: transparent transparent $blue;
  border-bottom-color: $blue!important;
  border-top-color: $blue!important;
}

.notify-arrow-green {
  border-color: transparent transparent $green;
  border-bottom-color: $green !important;
  border-top-color: $green !important;
}

.search {
  margin-top: 6px ;
  width: 20px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  border: 1px solid $white-light;
  box-shadow: none;
  padding:0 5px 0 35px;
  color: $white-light;
}

.search:focus {
  margin-top: 5px ;
  width: 180px;
  border: 1px solid $white;
  box-shadow: none;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  color: #c8c8c8;
  font-weight: 300;
}

.toggle-nav {
  float: left;
  padding-right: 15px;
  margin-top: 20px;
}

.toggle-nav .icon-reorder {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
}

.sidebar-closed > #sidebar > ul {
  display: none;
}

.sidebar-closed #main-content {
  margin-left: 0px;
}

.sidebar-closed #sidebar {
  margin-left: -180px;
}

.form-group {
  border-bottom: 1px solid $white;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
