$gray: #797979;
$gray-medium: #d5d7de;
$gray-light: #D7D7D7;
$white: #eeeeee;
$white-light: #fff;
$green: #688a7e;
$blue: #00a0df;
$salmon: #e56b60;
$pink_swan: #b6b6b6;
$royal_blue: #2775e2;
$cello: #394a59;
$drak: #2e3b46;
$blue-alice: #eef3f7;
$white-smoke: #f5f5f5;
$riptide: #97d3c5;
$blue-whale: #092f3d;
$green-light: #79c447;
$green-black: #284315;
$yellow: #fcb322
